@page
@using Microsoft.Extensions.Localization
@using DomainCqrs.Localization
@model DomainCqrs.Web.Pages.DomainCqrs.IndexModel
@inject IStringLocalizer<DomainCqrsResource> L
@{
}
<h1>DomainCqrs</h1>
<p>@L["SamplePageMessage"]</p>
