@page "/DomainCqrs"
@using Microsoft.Extensions.Localization
@using global::DomainCqrs.Localization
@inject IStringLocalizer<DomainCqrsResource> L
@{
}
<h1>DomainCqrs</h1>
<p>@L["SamplePageMessage"]</p>